h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;

  /*Colors and Fonts*/
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 60px;
  color: #444444;
  background: #ffffff;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
}

#game p {
  display: flex;
  margin: 0%;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#game button {
  display: flex;
  flex-direction: column;

  /* Text and colors*/
  color: #d9d9d9;
  background: #e8e8e8dc;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 150px;
  font-weight: 400;
  align-items: center;
  justify-content: center;

  /* Button sizing and outline*/
  padding: 20px;
  border-radius: 7px;
  margin: 2px;
  width: 190px;
  height: 190px;
  border: 0px;
}

#blur.active {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

#popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px;
  background: #fff;
  -webkit-box-shadow: inset -1px 3px 8px 5px #535658e5,
    2px 5px 16px 0px #535658e5, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: inset -1px 3px 8px 5px #535658e5, 2px 5px 16px 0px #535658e5,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

#popup button {
  box-shadow: inset 0px 1px 0px 0px #fce2c1;
  background-color: #45d0d4;
  border-radius: 6px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #cc9f52;
}

#popup button:active {
  position: relative;
  top: 1px;
}

#popup button:hover {
  background-color: #5b919e;
}

h2 {
  font-family: Georgia, serif;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

h3 {
  font-size: 100px;
  margin: 10px;
  color: #ffffff;
  background: #ffffff;
  text-shadow: 2px 2px 0 #4576b6, 2px -2px 0 #4576b6, -2px 2px 0 #4576b6,
    -2px -2px 0 #4576b6, 2px 0px 0 #4576b6, 0px 2px 0 #4576b6,
    -2px 0px 0 #4576b6, 0px -2px 0 #4576b6;
  color: #ffffff;
  background: #ffffff;
}
